

   * { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,  sans-serif;
   }



    body {
    background-color: #f0f7f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    }

   .container {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    width: 100%;
    gap: 40px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba (0, 0, 0, 0.1);

       }
  .info {
    flex: 1;
    padding: 20px;
    text-align: left;

    }
    .info.logo {
    width: 50px;
    margin-bottom: 10px;
   }

   
   
h1 {
    margin-bottom: 15px;

}
p {
    font-size: 14px;
    color: #555;
}
.form-container {
    flex: 1;
    padding: 20px;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    font-weight: bolder;
    margin-bottom: 5px;
    font-size: 14px;
}
.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}
.form-row {
    display: flex;
    gap: 10px;
}
.form-row .form-group {
    flex: 1;

}
.register-btn {
    width: 100%;
    padding: 14px;
    background-color: #28a785;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bolder;
    margin-top: 10px;
}
.register-btn:hover {
    background-color: #21886b;
}
.terms {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;

}
.terms a {
    color: #00ffbb;
    text-decoration: none;
}




/* Media responsiveness*/
@media (min-width:768px){
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,  sans-serif;
}

body {
    background-color: #f0f7f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    }
.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    gap: 40px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba (0, 0, 0, 0.1);

       }

 .info {
        flex: 1;
        padding: 50px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        transform: translateX(-30%);
        
    }

.info.logo {
    width: 50px;
    margin-bottom: 10px;
   }
.info .form-container {
    flex: 1;
    display: flex;
}


p {
    font-size: 14px;
    color: #555;
    padding-left: 32%;
    text-align: justify;
}

.form-container {
    flex: 1;
    padding: 20px;
    transform: translateX(60%);
}


.terms a {
    color: #00ffbb;
    text-decoration: none;
}
.mobile {
    display: none;
}
}